body {
    font-family: Arial, sans-serif;
    background-color: #EAEEFF;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #fff; 
    background-color: #3A89FF;
    text-align: center;
    padding: 15px 0; 
    margin: 0 -20px;
    font-size: 2rem;
    font-weight: bold;
}

#game-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

#hangman-image {
    padding: 10px; 
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #F5F5F5;
    display: inline-block;
    
}

#hangman-text {
    display: block;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    margin-top: 1px;
}

#game-container img {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}

#game-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#game-stats {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.6;
    
}

.highlight {
    font-weight: bold;
}

#letters-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    gap: 5px;
}

#letters-container button {
    width: 60px;
    height: 60px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

#letters-container button:hover:not(:disabled) {
    background-color: #2980b9;
}

#letters-container button:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
}

#message {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
    color: #e74c3c;
}

#message.win {
    color: #27ae60;
}
